body {
    font-family: 'Noto Sans', sans-serif;
    color: white; 
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
}

h2 {
    font-family: 'Rock Salt', cursive;
}

.nav-link {
    color: white;
}

.parallax {
  background-image: url("../images/desk.png");
  height: 100vH;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.portfolioImage {
    width: 250px;
    height: auto;
    margin: 25px 0;
}

.portfolioContent h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.portfolioContent p {
    padding-bottom: 1rem;
}

#portfolio .row:not(:last-child) {
    border-bottom: 1px solid grey;
}

.form-control:valid {
    background-color: #343a40;
    border: none;
    border-bottom: 1px solid white;
    color: white !important;
    border-radius: unset;
}

.form-control:focus {
    box-shadow: unset;
}

.fab {
    font-size: 42px;
    color: white;
}

.fab:hover {
    color: #343a40;
}

.social a {
    display: inline-block;
}
@media only screen and (max-width: 575px){
    h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1000px){
    /*.parallax{
        background-size: cover;
    }*/
}