body {
    font-family: "Raleway", Arial;
}

blockquote {
    display: block;
    padding: 15px 20px 15px 45px;
    background: lightGrey;
    margin-right: 15%;
    position: relative;
    font-size: larger;
    font-weight: bold;
    border-left: 5px solid #64b5f6;
    font-family: "Raleway", sans-serif;
}

.nav-wrapper.grey.darken-2.z-depth-4 {
    height: 99px;
}

nav ul a:hover{
    background-color: gold !important;
    opacity: .75;
    color: black;
    border-radius: 5px;
}

#myFace {
    height: 45%;
    width: 45%;
    margin-top: 21.5%;
    margin-left: 30%;
    border: groove;
    border-color: cyan;
    border-radius: 15px;
}

ul#nav-mobile {
    margin-top: 20px;
}

.aboutHead {
    margin-right: 10%;
    font-weight: bold;
    text-shadow: 2px 2px teal;
    color: white;
}

#aboutSection {
    background: url("http://www.intertech.ps/images1/home_sec.jpg");
    background-size: contain;
}

.card {
    border-radius: 10px !important;
}

.card-image {
    padding: 30px;
}

.card-image img {
     border-radius: 10px !important;
}

.modal-close {
    margin-left: 45%;
    margin-bottom: 5%;
}


.brand-logo {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px grey;
    font-size: 3.0em !important;
}

li {
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

p {
    font-weight: bold;
    font-size: large;
    font-family: "Raleway", sans-serif;
}

.modalLink {
    text-align: center;
}

.parallax-container {
    height: 500px;
}

#parallaxID {
    overflow: unset !important;
}

#lightening {
    max-height: 640px;
    max-width: 480px;
}

.contactHead {
    text-align: center;
    text-shadow: 2px 2px teal;

}


#email,
#message,
#name {
    font-family: sans-serif;
}

.sendMessage {
    text-align: center;
}

#gitHubTop {
    width: 60px;
    height: 60px;
    margin-top: 18px;
    margin-right: 10px;
}

#gitHubTop:hover {
    background-color: gold;
    opacity: .75;
    border-radius: 50%;
    width:65px;
    height: 65px;
    margin-right: 5px;
}

#gitHub {
    width: 60px;
    height: 60px;
    margin-bottom: 7px;
}

#jamPic {
    max-height: 419px;
    max-width: 315px;
}

#linkedInTop {
    width: 75px;
    height: 75px;
    margin-top: 11px;    
}

#linkedInTop:hover {
    background-color: gold;
    opacity: .75;
    border-radius: 50%;
    width:65px;
    height: 65px;
}

#linkedIn {
    width: 75px;
    height: 75px;
}

.socialLinks {
    margin-left: 70%;
}

@media (min-width: @screen-xs-min) {

    .brand-logo-xs {
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);

        small,
        .small {
            font-size: 65%;
        }
    }
